body{
    background-color:darkgray;
    text-align: center;
}
.calc{
    display: inline-flex;
    flex-direction: column;
    border:3px solid black;
    padding:10px;
    box-shadow: 5px 6px lightslategray;
    background-color:dimgray;
    height:400px;
    border-radius: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
button{
    height:60px;
    font-size:large;
    margin:2px;
    border-radius: 5px;
}
input{
    font-size: 25px;
    margin:20px;
    height:80px;
}
#res{
    border-radius: 5px;
}